/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  cursor: pointer;
}

/* Hero */
.hero {
  text-align: center;
  padding: 50px 0;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 5px solid #ffcc00; /* Borde dorado */
}

.gold-text {
  color: #ffcc00;
  font-weight: bold;
}

/* Featured Products */
.featured-products {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

.featured-products h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  width: 300px;
  margin-bottom: 20px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card p {
  margin-top: 10px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Enlaces */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffcc00;
}
